.project
.metadata
.settings
.classpath
.idea
.checkstyle
target/
*.orig
.fbprefs
.ruleset
*.pmd
*.iml
*.ipr
*.iws
.DS_Store
.idea
.repository
 
*/target/*
release.properties
*.releaseBackup
catalog.xml
nb-configuration.xml
*.*~
pom.xml.versionsBackup
activemq-data
